{% load thumbnail %}
<article>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name|default:post.author.username }}
      <br><a href="{% url 'posts:profile' post.author.username %}">Все посты
      автора</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail post.image "960x339" crop="center" as im %}
    <img class="img-fluid rounded mx-auto d-block" src="{{ im.url }}"
         alt="image-false">
  {% endthumbnail %}
  <p>{{ post.text|linebreaks }}</p>
  <a href="{% url 'posts:post_detail' post.pk %}">Подробная информация</a>
  <br><br>
</article>
{% if group != "NoGroup" and post.group %}
  <b>Группа: {{ post.group.title }}</b>
  <a href="{% url 'posts:group_list' post.group.slug %}">все записи
    группы</a>
{% endif %}
