{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
  <div class="container py-5">
    {% if validlink %}
      {% include "users/includes/form_password.html" %}
      <!-- если использована неправильная ссылка -->
    {% else %}
      {% with card_header="Ошибка" card_body="Ссылка сброса пароля содержит ошибку или устарела." %}
        {% include "users/includes/card.html" %}
      {% endwith %}
      <!-- конец если использована неправильная ссылка -->
    {% endif %}
  </div>
{% endblock %}